@model IEnumerable<Rh.Presentation.Web.UI.ViewModels.CandidatoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Candidatos</h2>

<p>
    @Html.ActionLink("Cadastrar novo candidato", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vaga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnologias)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vaga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnologias)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CandidatoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CandidatoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CandidatoId })
        </td>
    </tr>
}

</table>
